@import "_normalize";
@import "_variables";


html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   background: rgb(211,224,224);
   background: linear-gradient(180deg, rgba(211,224,224,1) 0%, rgba(235,217,178,1) 100%);
}

.sectionAllign{
   padding: 0 16px;
}

// navigation

.navigation {}

.navigation__list {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navigation__item {
   display: inline; //elementy obok siebie (bez flexa)
   display: block;  //dla flexa
   margin: 0 16px;
}

.navigation__link {
   text-decoration: none;
   color: #1A936F;
}

.navigation__link:hover {
   color: hotpink;
}

.site-header {

}

.site-header:hover {
   background: black;
}

.site-header-scr {
   background-image: url("../assets/wind-farm.jpg");
   background-position: center;
   background-origin: border-box;
   background-repeat: no-repeat;
   height: 400px;
   max-width: 1024px;
   margin: 92px auto 0;
   width: 100%;
   margin-top: 92px;
   position: relative;
   z-index: -1;
}

.kwadrat {
   background: rgba(23, 29, 29, 0.493);
   width: 200px;
   height: 150px;
   color: white;
   position: absolute;
   right: 100px;
   bottom: 0px;
   padding: 16px;
}
.kwadrat__h5 {
   padding:0;
   color: tomato;
   margin: 0;
}
.kwadrat__contekst {
   margin: 0;
}

.contentGrid {
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 16px;
   grid-row-gap: 16px;
}

@media (max-width: 640px) {
   .contentGrid {
      grid-template-columns: 1fr;
   }
}

// h1 {
//    font-size: 3rem;
//    color: tomato;
//    text-align: center;
// }

h2 {
   background-color: #cccccc;
   color: white;
}

.subHeader {
   color: brown;
}

.subHeader::before {
   content: '';  //musi  być nawet pusty
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: yellow;
   margin-right: 5px;
}

.subHeader::after {
   content: '';  //musi  być nawet pusty
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: rgb(130, 119, 224);
   margin-left: 5px;
}

h4 {
   /*  background-color: aqua; */
   color: tomato;
}

p {
   // color: white;
   // padding: 0 16px;
}

.linkTable {
   border-spacing: 15px;
}

.linkTable__td {
   border: 1px solid black;
   padding: 5px;
}

.linkTable__th {
   background-color: white;
}

.main__section-zarzadzanie {
   text-align: center;
   color: #9ABD97;
}

.about {
   /* position: relative; */
}


.box {
   width: 100px;
   height: 100px;
   background-color: yellowgreen;
   padding: 10px;
   border: 10px solid red;
   box-sizing: border-box;
   position: absolute;
   /* relative/absolute */
   top: 10px;
   left: 50%;
}

.top {
   position: fixed;
   bottom: 10px;
   right: 10px;
   // color: rgb(8, 56, 8);
   text-decoration: none;

}


.navigation__link--bigger {
   // flex-grow: 2;
   // flex-shrink: 2;
   // flex-wrap: nowrap;
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}

.navigation__link--smaller {
   // flex-grow: 2;
   // flex-shrink: 2;
   // flex-wrap: nowrap;
   font-family: "Ubuntu";
   font-size: 1.5rem;
   font-weight: bold;
}



.menu {
   display: flex;
   justify-content: center;
   align-items: center;

}

.menu__item {
   // background-color: rgb(184, 105, 105);
   color: bisque;
   padding: 0 16px;
   margin: 0 8px;
   text-decoration: none;
}


.main {
   width: 100%;
   max-width: 1024px;
   margin: 0px auto;
   padding-top: 16px;
}

@media (max-width: 900) { //brake point
   .main {
      max-width: 600px;
   }
}

.header__title {
   font-size: 3rem;
   color: tomato;
   text-align: center;
}

.header__title--red {
   color: darkred;
}

.myLinks {
   background: rgb(237, 238, 183);
}

.myHref {
   // color: white;
}

.mainForm {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 80vh;
}

.myForm {
   max-width: 600px;
   width: 100%;


}

.logo {
   background: white;
   border: 2px solid red;
}

// lekcje
.hobby {}

.hobby__list {
   list-style: none;
   padding: 0;
}


.site-header {
   background: #fff;
   box-sizing: border-box;
   position: fixed;
   left: 0px;
   padding: 16px;
   position: fixed;
   top: 0;
   width: 100%;
}

.homePageFooter {
   text-align: center;
}

.myFirstName {

}

.myFirstName:focus {
   border: 3px solid red;
}

input:focus {
   outline:none;
}

@media (min-width: 730px) {
   .navigation__switcher {
      display: none;
   }
}

@media (max-width: 730px) {
   .navigation__list {
      display: none;
      flex-direction: column;
   }
   .navigation__list--visible {
      display: flex;
   }

   .site-header {
      min-height: 48px;
   }
   .navigation__switcher {
      border: solid 1px;
      background: none;
      position: absolute;
      right: 16px;
      top: 16px;
   }
}
