@import "_normalize";
@import "_variables";


html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}


// ----------------------
body {
   // background-color: rgb(156, 210, 231);
   // background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   // /* background-image: radial-gradient(circle, #123569, #744b74, #a86f7a, #c69e8d, #dad0b7); */

}

h1 {
   font-size: 3rem;
   color: tomato;
}

h2 {
   background-color: #cccccc;
   color: white;
}

h3 {
   color: brown;
}

h4 {
   /*  background-color: aqua; */
   color: tomato;
}

p {
   // color: white;
}

.linkTable {
   border-spacing: 15px;
}

.linkTable__td {
   border: 1px solid black;
   padding: 5px;
}

.linkTable__th {
   background-color: white;
}

.main__section-zarzadzanie {
   text-align: center;
   color: #9ABD97;
}

.about {
   /* position: relative; */
}


.box {
   width: 100px;
   height: 100px;
   background-color: yellowgreen;
   padding: 10px;
   border: 10px solid red;
   box-sizing: border-box;
   position: absolute;
   /* relative/absolute */
   top: 10px;
   left: 50%;
}

.top {
   position: fixed;
   bottom: 10px;
   right: 10px;
   // color: rgb(8, 56, 8);
   text-decoration: none;

}

/* ------------- */

.site-header {
   // background: #fff;
   // box-sizing: border-box;
   left: 0;
   padding: 16px;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100px;
   background-color: #B2E4DB;
}

.navigation {
   position: fixed;
   width: 100%;
   top: 0px;
   left: 0px;
   box-sizing: border-box;
   padding: 16px;
   // background: rgb(4, 16, 87);
   /* background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.navigation__list {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: baseline;
   // display: grid;
   // grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
   // grid-template-areas: "l c1 c2 c3 c4 c5 r1 r2";
   // height: 300px;
}



.navigation__item {
   // width: 100%;
   // max-width: 100px;
   //@at-rootdisplay: block;
   margin: 0 16px;
   // padding: 8px;
   // background-color: rgb(57, 81, 112);
   // border-radius: 10px;
   // flex: 1 0 50px;
   // flex-grow: 1;
   font-size: 1.2rem;
   font-family: "Roboto";
   height: 250px;


}

.navigation__link--bigger {
   // flex-grow: 2;
   // flex-shrink: 2;
   // flex-wrap: nowrap;
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}

.navigation__link--smaller {
   // flex-grow: 2;
   // flex-shrink: 2;
   // flex-wrap: nowrap;
   font-family: "Ubuntu";
   font-size: 1.5rem;
   font-weight: bold;
}

.navigation__link {
   // font-weight: bold;
   // font-family: "Roboto";
   text-decoration: none;
   color: black;
}

.menu {
   display: flex;
   justify-content: center;
   align-items: center;

}

.menu__item {
   // background-color: rgb(184, 105, 105);
   color: bisque;
   padding: 0 16px;
   margin: 0 8px;
   text-decoration: none;
}


.main {
   width: 100%;
   max-width: 700px;
   margin: 32px auto;
   padding-top: 50px;
}

.myLinks {
   background: rgb(237, 238, 183);
}

.myHref {
   // color: white;
}

.mainForm {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 80vh;
}

.myForm {
   max-width: 600px;
   width: 100%;


}

.logo {
   background: white;
   border: 2px solid red;
}